
    body {
      padding: 0px !important;
      word-wrap: !important normal;
    }

    header {
      width: 240px;
    }

    footer {
      bottom: 240px;
    }

    section {
      width: 72%;
    }

    h1 {
      font-size: 32px !important;
      color: #444 !important;
    }

    h2 {
      font-size: 20px !important
    }

    h1 a {
      color: #444 !important
    }

    .channelbox {
      text-align: left;
      float: left
    }

    @media screen and (max-width: 960px) {
      section {
       word-wrap:normal !important;
       width:94% !important;
      }
    }

    @media screen and (max-width: 720px) {
      .channelbox {
        float: none;
      }
      section {
       word-wrap:normal !important;
       width:94% !important;
      }
    }
