
    body {
      padding: 0px !important;
      word-wrap: normal !important;
    }

    a:hover,
    a:focus {
     color:#069;
     font-weight: normal !important;
    }

    header {
      width: 240px;
    }

    footer {
      bottom: 150px;
    }

    section {
      width: 72%;
    }

    .wrapper {
      width: 1024px;
    }

    h1 {
      font-size: 36px !important;
      color: #444 !important;
    }

    h2 {
      font-size: 20px !important
    }

    h1 a {
      color: #444 !important
    }

    .channelbox {
      text-align: left;
      float: left
    }

 /* Style the tab */
 .tab {
  overflow: hidden;
  border: 1px solid #aaa;
  background-color: #333;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #eee;
  border-radius: 5px 5px 0 0;
  font-size:15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #666;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #540cb4;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 

.hidden {
  display: none;
} 

    @media screen and (max-width: 960px) {
      section {
       word-wrap:normal !important;
       width:94% !important;
      }
    }

    @media screen and (max-width: 720px) {
      .channelbox {
        float: none;
      }
      section {
       word-wrap:normal !important;
       width:94% !important;
      }
    }

