<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  <link rel="stylesheet" href="{{ "/assets/css/styleCustom.css?v=25" | append: site.github.build_revision | relative_url }}">   
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@WhoAdvertisesOn" />
    <meta name="twitter:title" content="Which companies sponsor far-right cable channels?" />
    <meta name="twitter:description" content=" Browse our data. We track advertisers on partisan channels to bring accountability to companies funding disinformation."/>
    <meta name="twitter:image" content="http://whoadvertiseson.org/assets/images/TwitterCardFN.png" />
    <script type="application/javascript">
    function loadWhich() {
      queryString = window.location.search;
      urlParams = new URLSearchParams(queryString);
      mode = urlParams.get('mode')
      if (mode) {
        obj = document.getElementById(mode)
        obj.innerHTML = "Thanks for Signing Up!";
      }
    }
    </script>
  </head>
  <body onload="loadWhich()">
    <div style="width:100%; height:25px; background-color: black; margin-bottom: 30px; border-bottom: 4px solid #83b44b;">&nbsp;</div>
    <div class="wrapper">
    <header>
      <div style="text-align:left"><img src="https://avatars.githubusercontent.com/u/77581621?v=4"
          alt="WhoAdvertisesOn Logo" width="210" style="border-radius:15px">
      </div>
    </header>
      <section>
        <h1 style="margin-bottom: 5px">WhoAdvertisesOn</h1>
      <h2 style="color: #267CB9">Open Data About Sponsors of Partisan Cable Channels</h2>
      <p
        style="font-size:15px; padding:8px; background-color:#ebebf2; border-top: 0px solid #351c75;  border-bottom: 0px solid #351c75; color:#555; ">
        Disinformation from far-right cable channels threatens US
        democracy and health, yet is still sponsored by major
        corporations. We track advertisers on Fox News
        and other partisan channels using sampling, data science, and
        open data, to bring accountability to companies funding disinformation.
      </p>
      <p
        style="font-size:15px; padding:8px; font-weight: bold; ">
        UPDATE: This project is pausing daily data collection of Fox News sponsors as of September 2023. 
        This is because Fox has been hurting on cable advertising, and there are no signs of brands returning or expanding. 
        And if periodic monitoring shows they do, we can reactivate to pressure them anew. 
        In practice that means monthly data will not being available. 
        But the project remains active and vigilant.
      </p>
      <div id="thanks" style="font-size:24px; text-align:center; font-weight:bold; padding-bottom:22px"></div>
      <div style="border: 3px solid #14487b;">
        <div style="padding:8px 12px; margin-bottom:0px; background-color:#14487b; display:block; height:auto;">
         <div style="display:block; color:#eee; margin-bottom:0px; float:left; font-size: 20px;  font-weight:bold;">
            Latest Fox News Sponsors</div>
          <div style="display:block; color:#eee; margin-bottom:0px; float:right; font-size: 14px;text-align:right">
            <a href="http://whoadvertiseson.org/foxnews/" style="color:#eee;">Browse all Fox News Sponsors >></a><br/><a href="http://whoadvertiseson.org/foxaction/" style="color:#eee;">Take Action >></a></div>
          <div style="clear:both"></div>
       </div>
        <div style="width:100%;">
          <div class="channelbox"><a
              href="https://raw.githubusercontent.com/whoadvertiseson/whoadvertiseson/main/FoxNews/FoxNewsChannel_RecentTopAdvertisers.png"><img
                src="https://raw.githubusercontent.com/whoadvertiseson/whoadvertiseson/main/FoxNews/FoxNewsChannel_RecentTopAdvertisers.png"
                alt="alt text" width="500"></a></div>
          <div class="channelbox" style="width:200px; margin:auto">
            <h4
              style="margin-top:30px; margin-left:6px; line-height:13px; color:grey; font-size:13px; font-family:Arial, Helvetica, sans-serif; text-align:center">
              Current sponsors of<br />Fox News include
            </h4>
            <img
              src="https://raw.githubusercontent.com/whoadvertiseson/whoadvertiseson/main/FoxNews/FoxNewsChannel_RecentTopLogos.png"
              alt="alt text" width="200">
          </div>
        </div>
        <div style="width:100%; clear:both; background-color: #ebebf2">
          <h4 style="padding:10px 56px; margin-bottom:0px;">Get the Data</h4>
          <ul style="font-size:13px; margin-bottom:0px; padding-left: 106px; padding-bottom:10px">
            <li><a
                href="http://whoadvertiseson.org/foxnews/">Browse Fox News sponsor data through Airtable</a></li>
            <li><a
                href="https://github.com/whoadvertiseson/whoadvertiseson/tree/main/FoxNews">Access all Fox News sponsor data in the GitHub repository</a></li>
          </ul>
        </div>
      </div>
      <br />
      <div style="border: 3px solid #14487b">
       <div style="padding:8px 12px; margin-bottom:0px; background-color:#14487b; display:block; height:auto;">
         <div style="display:block; color:#eee; margin-bottom:0px; float:left; font-size: 20px;  font-weight:bold;">
            Latest Newsmax Sponsors</div>
          <div style="display:block; color:#eee; margin-bottom:0px; float:right; font-size: 14px;">
            <a href="http://whoadvertiseson.org/newsmax/" style="color:#eee;">Browse all Newsmax Sponsors >></a></div>
          <div style="clear:both"></div>
       </div>
        <div style="width:100%;">
          <div class="channelbox"><a
              href="https://raw.githubusercontent.com/whoadvertiseson/whoadvertiseson/main/Newsmax/Newsmax_RecentTopAdvertisers.png"><img
                src="https://raw.githubusercontent.com/whoadvertiseson/whoadvertiseson/main/Newsmax/Newsmax_RecentTopAdvertisers.png"
                alt="alt text" width="500"></a></div>
          <div class="channelbox" style="width:200px; margin:auto">
            <h4
              style="margin-top:30px; margin-left:6px; line-height:13px; color:grey; font-size:13px; font-family:Arial, Helvetica, sans-serif; text-align:center">
              Current sponsors of<br />Newsmax include
            </h4>
            <img
              src="https://raw.githubusercontent.com/whoadvertiseson/whoadvertiseson/main/Newsmax/Newsmax_RecentTopLogos.png"
              alt="alt text" width="200">
          </div>
        </div>
        <div style="width:100%; clear:both; background-color: #ebebf2">
          <h4 style="padding:10px 56px; margin-bottom:0px;">Get the Data</h4>
          <ul style="font-size:13px; margin-bottom:0px; padding-left: 106px; padding-bottom:10px">
            <li><a
                href="http://whoadvertiseson.org/newsmax/">Browse Newsmax sponsor data through Airtable</a></li>
            <li><a
                href="https://github.com/whoadvertiseson/whoadvertiseson/tree/main/Newsmax">Access all Newsmax sponsor data in the GitHub repository</a></li>
          </ul>
        </div>
      </div>
      <br />
      <h2 style="margin-top:12px;">About the Project</h2>
      <div style="width:100%; clear:both;">
        <h3 id="project-purpose">Project Purpose</h3>
        <p>For-profit television news is funded in part through advertising. To
          boost viewership, commercial news channels set aside journalistic
          standards in favor of sensational and emotional styles of programming.
          Furthermore, partisan channels, such as conservative media, selectively
          report or distort information for political gain. These deviations from
          journalistic standards have real world consequences that effect lives
          and families of even non-viewers. Therefore everyone has a right to know
          whose dollars are funding these channels.</p>

        <h3 id="sampling-strategy">Sampling Strategy</h3>
        <p>The most comprehensive way to know who is advertising on a particular
          channel would entail watching every hour every day, yet this is not
          feasible for volunteers. Therefore the notion of “sampling” is used to
          gather data with less effort. Our strategy is that nearly every day a
          volunteer watches a channel for a fifteen minute interval at an
          arbitrary time (excluding overnight), and collects data about observed
          advertisements. Over time this should generate a comprehensive picture
          of advertising on a particular channel.</p>

        <h3 id="data-collection">Data Collection</h3>
        <p>The following data is collected for each observed advertisement:</p>

        <p><em>CompanyName, ProductName, DateObserved, TimeOfDay, Channel, ShowName</em></p>

        <h3 id="data-files">Data Files</h3>
        <p>Currently data is being collected about Fox News Channel and Newsmax, and the following files are available in
          the
          repository:</p>

        <ul>
          <li><em><a
                href="https://github.com/whoadvertiseson/whoadvertiseson/blob/main/FoxNews/FoxNewsChannel_ObservedAdvertisements.csv">CSV:
                FoxNewsChannel_ObservedAdvertisements.csv</a></em></li>
          <li><em><a
                href="https://github.com/whoadvertiseson/whoadvertiseson/blob/main/FoxNews/FoxNewsChannel_RecentTopAdvertisers.csv">CSV:
                FoxNewsChannel_RecentTopAdvertisers.csv</a></em></li>
          <li><em><a
                href="https://raw.githubusercontent.com/whoadvertiseson/whoadvertiseson/main/FoxNews/FoxNewsChannel_RecentTopAdvertisers.png">PNG:
                FoxNewsChannel_RecentTopAdvertisers.png</a></em></li>
          <li><em><a
                href="https://github.com/whoadvertiseson/whoadvertiseson/blob/main/Newsmax/Newsmax_ObservedAdvertisements.csv">CSV:
                Newsmax_ObservedAdvertisements.csv</a></em></li>
          <li><em><a
                href="https://github.com/whoadvertiseson/whoadvertiseson/blob/main/Newsmax/Newsmax_RecentTopAdvertisers.csv">CSV:
                Newsmax_RecentTopAdvertisers.csv</a></em></li>
          <li><em><a
                href="https://raw.githubusercontent.com/whoadvertiseson/whoadvertiseson/main/Newsmax/Newsmax_RecentTopAdvertisers.png">PNG:
                Newsmax_RecentTopAdvertisers.png</a></em></li>
        </ul>

        <h3 id="toolkit">Toolkit</h3>
        <p>WhoAdvertisesOn is not just a project tracking and summarizing
          advertising on a single partisan news outlet. It is also an open source
          data science toolkit that can allow any person or organization to do the
          same for their own purposes and in their own contexts. Doing so does
          not require advanced coding skills. Read the <a
            href="https://github.com/whoadvertiseson/whoadvertiseson/blob/main/Toolkits/AdvertiserTrackingToolkit.md">Toolkit
            Guide here</a>.</p>

        <h3 id="contact">Contact</h3>
        <p>If you have questions or comments please find us on Twitter at <a
            href="https://twitter.com/WhoAdvertisesOn">https://twitter.com/WhoAdvertisesOn</a>, or write to us at
          whoadvertiseson@protonmail.com</p>

        <h3 id="licenses">Licenses</h3>

        <ul>
          <li>Data files (ie. .csv) are governed by an Open Data Commons Open
            Database License (ODbL) v1.0 as detailed in the file LICENSE_data</li>
          <li>Code files (ie. .py) are governed by a GNU GENERAL PUBLIC LICENSE Version 3 as detailed in the file
            LICENSE_code</li>
        </ul>
      </div>

      </section>
      <footer>
        
      <div
        style="font-size:14px; width:194px; padding:8px; background-color:#CBC3E3; border: 1px solid #CBC3E3; border-radius:15px">
        <h4 style="color:#333">GET INVOLVED</h4>
        <div style="text-align:left">
          <p>
          <span style="color:#333">Twitter</span>
          <a href="https://twitter.com/WhoAdvertisesOn?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @WhoAdvertisesOn</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </p>
          <p class="view" style="color:#333;"><a href="https://github.com/whoadvertiseson/whoadvertiseson" style="color:#333">View our
              Project on GitHub:
              <small>whoadvertiseson/whoadvertiseson</small></a></p>
          <p class="view" style="color:#333">Email us: <small>whoadvertiseson@protonmail.com</small></p>
      </div>
      </div>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
