<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  <link rel="stylesheet" href="{{ "/assets/css/styleCustom.css?v=12" | append: site.github.build_revision | relative_url }}">    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@WhoAdvertisesOn" />
    <meta name="twitter:title" content="WhoAdvertisesOn" />
    <meta name="twitter:description" content="Open Ad Data on Sponsors of Partisan Channels"/>
    <meta name="twitter:image" content="https://avatars.githubusercontent.com/u/77581621?v=4" />
  </head>
  <body>
    <div style="width:100%; height:25px; background-color: black; margin-bottom: 50px">&nbsp;</div>
    <div class="wrapper">
      <header>
      <div style="text-align:left"><img
          src="https://avatars.githubusercontent.com/u/77581621?v=4"
          alt="WhoAdvertisesOn Logo" width="210">
      </div>
      </header>
      <section>

      <h1 style="margin-bottom: 5px"><a href="http://whoadvertiseson.org/">WhoAdvertisesOn</a></h1>
      <h2 style="color: #267CB9">Open Data on Sponsors of Partisan Channels</h2>
      <p
        style="font-size:16px; padding:8px; background-color:#ebebf2; border-top: 2px solid #351c75;  border-bottom: 2px solid #351c75; color:#555; ">
        Disinformation from partisan "news" channels is a threat to US democracy and public health, yet is still sponsored by major corporations. We track advertisers on Fox News
        and other partisan channels using sampling, data science, and open data, to bring accountability to companies funding disinformation.
      </p>

      <h2 id="latest-fox-news-estimates">Latest Fox News Data</h3>

        <div style="width:100%;">
          <div class="channelbox"><a
              href="https://raw.githubusercontent.com/whoadvertiseson/whoadvertiseson/main/FoxNews/FoxNewsChannel_RecentTopAdvertisers.png"><img
                src="https://raw.githubusercontent.com/whoadvertiseson/whoadvertiseson/main/FoxNews/FoxNewsChannel_RecentTopAdvertisers.png"
                alt="alt text" width="400"></a></div>
          <div class="channelbox">
            <h4
              style="margin-top:11px; line-height:15px; color:black; font-size:15px; font-family:Arial, Helvetica, sans-serif;">
              Current
              corporate sponsors<br />of Fox News
              Channel include
            </h4>
            <img
              src="https://raw.githubusercontent.com/whoadvertiseson/whoadvertiseson/main/FoxNews/FoxNewsChannel_RecentTopLogos.png"
              alt="alt text" width="180">
          </div>
        </div>
        <div style="width:100%; clear:both;">
          <h4>Access the data directly</h4>
          <ul style="font-size:12px;">
            <li><a
                href="https://github.com/whoadvertiseson/whoadvertiseson/blob/main/FoxNews/FoxNewsChannel_ObservedAdvertisements.csv">DATA:
                Most recently sampled Fox News Channel advertisers</a></li>
            <li><a
                href="https://github.com/whoadvertiseson/whoadvertiseson/blob/main/FoxNews/FoxNewsChannel_RecentTopAdvertisers.csv">DATA:
                Top recent Fox News Channel advertisers per our sampling</a></li>
          </ul>
        </div>
        <hr style="border-top: 2px solid #9f40ff;">
        <br />
        <h2 id="latest-fox-news-estimates">Latest Newsmax Data</h3>
          <div style="width:100%; clear:both; font-size:12px">
            <p>COMING SOON</p>
          </div>
          <hr style="border-top: 2px solid #9f40ff;">
          <br />
          <h2 id="latest-fox-news-estimates">More About the Project</h3>
           <div style="width:100%; clear:both;">
            <h3 id="project-purpose">Project Purpose</h3>
            <p>For-profit television news is funded in part through advertising. To
              boost viewership, commercial news channels set aside journalistic
              standards in favor of sensational and emotional styles of programming.
              Furthermore, partisan channels, such as conservative media, selectively
              report or distort information for political gain. These deviations from
              journalistic standards have real world consequences that effect lives
              and families of even non-viewers. Therefore everyone has a right to know
              whose dollars are funding these channels.</p>

            <h3 id="sampling-strategy">Sampling Strategy</h3>
            <p>The most comprehensive way to know who is advertising on a particular
              channel would entail watching every hour every day, yet this is not
              feasible for volunteers. Therefore the notion of “sampling” is used to
              gather data with less effort. Our strategy is that nearly every day a
              volunteer watches a channel for a fifteen minute interval at an
              arbitrary time (excluding overnight), and collects data about observed
              advertisements. Over time this should generate a comprehensive picture
              of advertising on a particular channel.</p>

            <h3 id="data-collection">Data Collection</h3>
            <p>The following data is collected for each observed advertisement:</p>

            <p><em>CompanyName, ProductName, DateObserved, TimeOfDay, Channel, ShowName</em></p>

            <h3 id="data-files">Data Files</h3>
            <p>Currently data is being collected about Fox News Channel, and the following files are available in
              the
              repository:</p>

            <ul>
              <li><em><a
                    href="https://github.com/whoadvertiseson/whoadvertiseson/blob/main/FoxNews/FoxNewsChannel_ObservedAdvertisements.csv">DATA:
                    FoxNewsChannel_ObservedAdvertisements.csv</a></em></li>
              <li><em><a
                    href="https://github.com/whoadvertiseson/whoadvertiseson/blob/main/FoxNews/FoxNewsChannel_RecentTopAdvertisers.csv">DATA:
                    FoxNewsChannel_RecentTopAdvertisers.csv</a></em></li>
              <li><em><a
                    href="https://raw.githubusercontent.com/whoadvertiseson/whoadvertiseson/main/FoxNews/FoxNewsChannel_RecentTopAdvertisers.png">IMAGE:
                    FoxNewsChannel_RecentTopAdvertisers.png</a></em></li>
            </ul>

            <h3 id="toolkit">Toolkit</h3>
            <p>WhoAdvertisesOn is not just a project tracking and summarizing
              advertising on a single partisan news outlet. It is also an open source
              data science toolkit that can allow any person or organization to do the
              same for their own purposes and in their own contexts. Doing so does
              not require advanced coding skills. Read the <a
                href="https://github.com/whoadvertiseson/whoadvertiseson/blob/main/Toolkits/AdvertiserTrackingToolkit.md">Toolkit
                Guide here</a>.</p>

            <h3 id="contact">Contact</h3>
            <p>If you have questions or comments please find us on Twitter at <a
                href="https://twitter.com/WhoAdvertisesOn">https://twitter.com/WhoAdvertisesOn</a>, or write to us at
              whoadvertiseson@protonmail.com</p>

            <h3 id="licenses">Licenses</h3>

            <ul>
              <li>Data files (ie. .csv) are governed by an Open Data Commons Open
                Database License (ODbL) v1.0 as detailed in the file LICENSE_data</li>
              <li>Code files (ie. .py) are governed by a GNU GENERAL PUBLIC LICENSE Version 3 as detailed in the file
                LICENSE_code</li>
            </ul>
             </div>

      </section>
      <footer>
      
       <div style="font-size:14px; width:196px; padding:6px; background-color:#351c75; border: 1px solid #351c75;">
        <h4 style="color:#eee">GET INVOLVED</h4>
        <div style="text-align:left">
          <p>
            <a href="https://twitter.com/WhoAdvertisesOn?ref_src=twsrc%5Etfw" class="twitter-follow-button"
              data-show-count="false">Follow @WhoAdvertisesOn</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </p>
          <p class="view"><a href="https://github.com/whoadvertiseson/whoadvertiseson" style="color:#fff">View our
              Project on GitHub:
              <small>whoadvertiseson/whoadvertiseson</small></a></p>
          <p class="view" style="color:#eee">Email us: <small>whoadvertiseson@protonmail.com</small></p>
        </div>
      
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
