<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  <link rel="stylesheet" href="{{ "/assets/css/styleCustom.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div style="width:100%; height:25px; background-color: black; margin-bottom: 50px">&nbsp;</div>
    <div class="wrapper">
      <header>
            <div style="width:100%; text-align:left"><img src="https://avatars.githubusercontent.com/u/77581621?s=460&u=cea7754d276ada68597da92d06e3e3bc9c337a0b&v=4" alt="alt text" width="200"></div>
      <br /><br />
      <h4>WAYS TO GET INVOLVED</h4>
      <p>
        <a href="https://twitter.com/WhoAdvertisesOn?ref_src=twsrc%5Etfw" class="twitter-follow-button"
          data-show-count="false">Follow @WhoAdvertisesOn</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </p>
      <p class="view"><a href="https://github.com/whoadvertiseson/whoadvertiseson">View our Project on GitHub
      <small>whoadvertiseson/whoadvertiseson</small></a></p>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer></footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
